.container {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  border-color: gray;
  text-wrap: wrap;
}

.author {
  font-size: 1.1rem;
}

.time {
  font-weight: 300;
  font-size: small;
}

.infoContainer {
  display: flex;
  align-content: center;
  :nth-child(1) {
    margin-right: 0.55em;
  }

  margin-bottom: 0.4em;
}

.body {
  font-size: 1.3rem;
}

.bottomBar {
  margin-top: 0.75em;

  img {
    margin-right: 0.3em;
  }
  display: flex;
}
