@use "variables";
@use "utils";

.container {
  display: flex;
  flex-direction: column;
  margin: 0 4em;
  border-radius: 12px;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: white;
}

.commentsContainer {
  margin-top: 0.5em;
}
.commentFormContainer {
  margin-top: 1em;

  h1 {
    margin-bottom: 0.5em;
  }
  display: flex;
  flex-direction: column;
  width: max-content;
}

#textarea {
  width: 400px;
  border-radius: 8px;
  padding: 0.2em;
  font-size: large;
}

.commentBtn {
  @include utils.btn;
  margin-top: 1.5em;
  background-color: variables.$primary;
  align-self: center;
}
