@use "variables";
@use "utils";

.container {
  display: flex;
  background-color: white;
  padding: 0.5em;
  margin: 0.5em 0;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  width: 50%;

  border-radius: 12px;
  h3 {
    margin-top: 0.2em;
    font-size: x-large;
  }
}

.img {
  flex: 1 1 0px;
  img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 12px;
  }
}

.right {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  padding: 0.2em;
}

.info {
  display: flex;
  font-weight: lighter;

  font-size: small;
  :nth-child(1) {
    margin-right: 0.5em;
  }
}
.btn {
  @include utils.btn;
  @include utils.btn-transition(variables.$primary);
  margin-top: auto;
}
